:root {
  --light: #fff;
  --dark: #000;
}

html {
  background-color: black;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  padding: 15px;
  font-family: "Cormorant Garamond", serif;
}

/* HEADER  */

.header {
  color: var(--light);
  padding: 0px 10px;
  font-family: "Permanent Marker", cursive;
  background-image: url("./images/header-pic.jpg");
}
.my-name {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  margin: 40px 40px;
}

.header ul li {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}

.header div {
  padding-top: 60px;
  margin-right: 60px;
  float: right;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}

.nav-text {
  color: var(--light);
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #96a2a8;
  color: #ffffff;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-text:hover {
  box-shadow: inset 229px 0 0 0 #023c51;
  color: var(--light);
}

/* TITLE */

.title {
  font-family: "Gentium Book Plus", serif;
  font-size: 3rem;
  margin: 0;
  padding: 30px;
  text-align: center;
  color: white;
}

/* CONTENT  */

.content {
  margin-top: 30px;
}

/* CONTENT // ABOUT ME */

#about-me {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}

#about-me {
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(36, 106, 211),
    rgb(10, 145, 157)
  );
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 20px;
  height: 300px;
}

/* IMAGES  */

.usmc,
.colorado,
.likes {
  padding: 10px;
  display: flex;
}
.co {
  width: 70%;
}

.us {
  width: 60%;
}

.apollo {
  width: 60%;
}
/* IMAGES HOVER  */

.img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* CONTENT PROJECTS  */

.jobs {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    rgb(36, 106, 211),
    rgb(10, 145, 157)
  );
  margin-bottom: 40px;
}

.projects {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 149px;
}

.grid {
  width: 70%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.project {
  border: solid white;
  opacity: 0.5;
  display: flex;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
}

.project:hover {
  opacity: 4;
}

.js-test {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("./images/js.png");
}

.love-calc {
  background-image: url("./images/love.jpg");
  background-position: 50% 15%;
}

.dice-game {
  background-image: url("./images/dice.jpg");
  background-position: 60% 50%;
}

.inside-cards {
  background-image: linear-gradient(
    to bottom,
    rgb(61, 100, 114),
    rgb(56, 162, 219)
  );
  color: white;
  padding: 10px;
}

/* FOOTER  */

#footer {
  text-align: center;
  background-image: url(/images/header-pic.jpg);
  padding: 5px;
}

.icons {
  align-items: center;
  color: white;
  padding: 10px 20px 20px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.icons:hover {
  color: black;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
#footer h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 980px) {

  header h1 {
    width: 100%;
    text-align: center;
  }

  header ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  footer {
    text-align: center;
    width: 100%;
  }

  #main-projects {
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 400px;
  }

  #about-me {
    display: flex;
    flex-wrap: wrap;
}

.img{
    width: 20%;
}
  }
  .header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
}

/* @media screen and (max-width: 768px) {
  section {
    padding: 35px 15px;
  }
} */
