::root {
  --light: #fff;
  --dark: #000;
}

html {
  background-color: gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* HEADER  */
.header {
    color: white;
  padding: 0px 10px;
  font-family: "Permanent Marker", cursive;
  background-image: url("/images/header-pic.jpg")
}
.header h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
}

.header ul li {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}

.header div {
  padding-top: 60px;
  margin-right: 60px;
  float: right;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}

.nav-text {
    color: white;
    text-decoration: none;
}
/* 
CONTENT */

#about-me {
    color: white;
    background-image: linear-gradient(to bottom, black, grey);
padding: ;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

}

.title {


}

.usmc {
    float: right;
    width: 10%;
margin-right: 280;
}